jdcm/dtd/module/jdcm-inline.mod

<!-- ...................................................................... -->
<!-- XJDCM (Based on JIS X 4052:2000) Inline Module ....................... -->
<!-- file: jdcm-inline.mod
     
     This is XJDCM, an XML representation of JDCM
     ("Exchange format for Japanese documents with composition markup").
     
     Copyright 2010 Wakaba <w@suika.fam.cx>, All Rights Reserved.
     
     Permission to use, copy, modify and distribute this DTD and its
     accompanying documentation for any purpose and without fee is hereby
     granted in perpetuity, provided that the above copyright notice and
     this paragraph appear in all copies.  The copyright holders make no
     representation about the suitability of the DTD for any purpose.
     
     It is provided "as is" without expressed or implied warranty.
     
     Revision: 2010-06-20T04:48:31+00:00 (Generated by mkdtds/1.7)
     
     This DTD module is identified by the SYSTEM identifier:
     
       SYSTEM "data:,jdcm-dtd-module-jdcm-inline.mod"
     
     ...................................................................... -->

<!-- Inline

       em, span, strike, strong, u
-->

<!ENTITY % jdcm.emphasis.content "(#PCDATA|%jdcm.tabset.qname;%Ruby.class;|%jdcm.tate.qname;|%jdcm.inline-onedir-noem.class;|%jdcm.emphasis.class;|%jdcm.br.qname;)*">
<!-- em ................................................ -->

<!ENTITY % jdcm.em.element "INCLUDE">
<![%jdcm.em.element;[
<!ENTITY % jdcm.em.content "%jdcm.emphasis.content;">
<!ENTITY % jdcm.em.qname "em">
<!ENTITY % jdcm.em.tagmin.start "-">
<!ENTITY % jdcm.em.tagmin.end "-">
<![%sgml.tag.minimizable;[
<!ENTITY % jdcm.em.tagmin "%jdcm.em.tagmin.start; %jdcm.em.tagmin.end;">
<!-- end of sgml.tag.minimizable -->]]>
<!ENTITY % jdcm.em.tagmin "">
<!ELEMENT %jdcm.em.qname; %jdcm.em.tagmin; %jdcm.em.content;>
<!-- end of jdcm.em.element -->]]>

<!ENTITY % jdcm.em.attlist "INCLUDE">
<![%jdcm.em.attlist;[
<!ATTLIST %jdcm.em.qname;
	%jdcm.em.attrib;
	%jdcm.common.attrib;>
<!-- end of jdcm.em.attlist -->]]>

<!-- strong ............................................ -->

<!ENTITY % jdcm.strong.element "INCLUDE">
<![%jdcm.strong.element;[
<!ENTITY % jdcm.strong.content "%jdcm.emphasis.content;">
<!ENTITY % jdcm.strong.qname "strong">
<!ENTITY % jdcm.strong.tagmin.start "-">
<!ENTITY % jdcm.strong.tagmin.end "-">
<![%sgml.tag.minimizable;[
<!ENTITY % jdcm.strong.tagmin "%jdcm.strong.tagmin.start; %jdcm.strong.tagmin.end;">
<!-- end of sgml.tag.minimizable -->]]>
<!ENTITY % jdcm.strong.tagmin "">
<!ELEMENT %jdcm.strong.qname; %jdcm.strong.tagmin; %jdcm.strong.content;>
<!-- end of jdcm.strong.element -->]]>

<!ENTITY % jdcm.strong.attlist "INCLUDE">
<![%jdcm.strong.attlist;[
<!ATTLIST %jdcm.strong.qname;
	%jdcm.em.attrib;
	%jdcm.common.attrib;>
<!-- end of jdcm.strong.attlist -->]]>

<!-- u ................................................. -->

<!ENTITY % jdcm.u.element "INCLUDE">
<![%jdcm.u.element;[
<!ENTITY % jdcm.u.content "%jdcm.emphasis.content;">
<!ENTITY % jdcm.u.qname "u">
<!ENTITY % jdcm.u.tagmin.start "-">
<!ENTITY % jdcm.u.tagmin.end "-">
<![%sgml.tag.minimizable;[
<!ENTITY % jdcm.u.tagmin "%jdcm.u.tagmin.start; %jdcm.u.tagmin.end;">
<!-- end of sgml.tag.minimizable -->]]>
<!ENTITY % jdcm.u.tagmin "">
<!ELEMENT %jdcm.u.qname; %jdcm.u.tagmin; %jdcm.u.content;>
<!-- end of jdcm.u.element -->]]>

<!ENTITY % jdcm.u.attlist "INCLUDE">
<![%jdcm.u.attlist;[
<!ATTLIST %jdcm.u.qname;
	%jdcm.em.attrib;
	%jdcm.common.attrib;>
<!-- end of jdcm.u.attlist -->]]>

<!-- strike ............................................ -->

<!ENTITY % jdcm.strike.element "INCLUDE">
<![%jdcm.strike.element;[
<!ENTITY % jdcm.strike.content "%jdcm.emphasis.content;">
<!ENTITY % jdcm.strike.qname "strike">
<!ENTITY % jdcm.strike.tagmin.start "-">
<!ENTITY % jdcm.strike.tagmin.end "-">
<![%sgml.tag.minimizable;[
<!ENTITY % jdcm.strike.tagmin "%jdcm.strike.tagmin.start; %jdcm.strike.tagmin.end;">
<!-- end of sgml.tag.minimizable -->]]>
<!ENTITY % jdcm.strike.tagmin "">
<!ELEMENT %jdcm.strike.qname; %jdcm.strike.tagmin; %jdcm.strike.content;>
<!-- end of jdcm.strike.element -->]]>

<!ENTITY % jdcm.strike.attlist "INCLUDE">
<![%jdcm.strike.attlist;[
<!ATTLIST %jdcm.strike.qname;
	%jdcm.em.attrib;
	%jdcm.common.attrib;>
<!-- end of jdcm.strike.attlist -->]]>

<!-- span .............................................. -->

<!ENTITY % jdcm.span.element "INCLUDE">
<![%jdcm.span.element;[
<!ENTITY % jdcm.span.content "(#PCDATA|%Inline.mix;)*">
<!ENTITY % jdcm.span.qname "span">
<!ENTITY % jdcm.span.tagmin.start "-">
<!ENTITY % jdcm.span.tagmin.end "-">
<![%sgml.tag.minimizable;[
<!ENTITY % jdcm.span.tagmin "%jdcm.span.tagmin.start; %jdcm.span.tagmin.end;">
<!-- end of sgml.tag.minimizable -->]]>
<!ENTITY % jdcm.span.tagmin "">
<!ELEMENT %jdcm.span.qname; %jdcm.span.tagmin; %jdcm.span.content;>
<!-- end of jdcm.span.element -->]]>

<!ENTITY % jdcm.span.attlist "INCLUDE">
<![%jdcm.span.attlist;[
<!ATTLIST %jdcm.span.qname;
	%jdcm.subbody.attrib;
	%jdcm.common.attrib;>
<!-- end of jdcm.span.attlist -->]]>


<!-- end of jdcm-inline.mod -->
