jdcm/dtd/module/jdcm-table.mod

<!-- ...................................................................... -->
<!-- XJDCM (Based on JIS X 4052:2000) Table Module ........................ -->
<!-- file: jdcm-table.mod
     
     This is XJDCM, an XML representation of JDCM
     ("Exchange format for Japanese documents with composition markup").
     
     Copyright 2010 Wakaba <w@suika.fam.cx>, All Rights Reserved.
     
     Permission to use, copy, modify and distribute this DTD and its
     accompanying documentation for any purpose and without fee is hereby
     granted in perpetuity, provided that the above copyright notice and
     this paragraph appear in all copies.  The copyright holders make no
     representation about the suitability of the DTD for any purpose.
     
     It is provided "as is" without expressed or implied warranty.
     
     Revision: 2010-06-20T04:48:31+00:00 (Generated by mkdtds/1.7)
     
     This DTD module is identified by the SYSTEM identifier:
     
       SYSTEM "data:,jdcm-dtd-module-jdcm-table.mod"
     
     ...................................................................... -->

<!-- Table

       tab, table, tabset, td, th, tr
-->

<!-- th ................................................ -->

<!ENTITY % jdcm.th.element "INCLUDE">
<![%jdcm.th.element;[
<!ENTITY % jdcm.th.content "(#PCDATA|%jdcm.semiflow.mix;)*">
<!ENTITY % jdcm.th.qname "th">
<!ENTITY % jdcm.th.tagmin.start "-">
<!ENTITY % jdcm.th.tagmin.end "-">
<![%sgml.tag.minimizable;[
<!ENTITY % jdcm.th.tagmin "%jdcm.th.tagmin.start; %jdcm.th.tagmin.end;">
<!-- end of sgml.tag.minimizable -->]]>
<!ENTITY % jdcm.th.tagmin "">
<!ELEMENT %jdcm.th.qname; %jdcm.th.tagmin; %jdcm.th.content;>
<!-- end of jdcm.th.element -->]]>

<!ENTITY % jdcm.th.attlist "INCLUDE">
<![%jdcm.th.attlist;[
<!ATTLIST %jdcm.th.qname;
	%jdcm.td.attrib;
	%jdcm.common.attrib;>
<!-- end of jdcm.th.attlist -->]]>

<!-- td ................................................ -->

<!ENTITY % jdcm.td.element "INCLUDE">
<![%jdcm.td.element;[
<!ENTITY % jdcm.td.content "(#PCDATA|%jdcm.semiflow.mix;)*">
<!ENTITY % jdcm.td.qname "td">
<!ENTITY % jdcm.td.tagmin.start "-">
<!ENTITY % jdcm.td.tagmin.end "-">
<![%sgml.tag.minimizable;[
<!ENTITY % jdcm.td.tagmin "%jdcm.td.tagmin.start; %jdcm.td.tagmin.end;">
<!-- end of sgml.tag.minimizable -->]]>
<!ENTITY % jdcm.td.tagmin "">
<!ELEMENT %jdcm.td.qname; %jdcm.td.tagmin; %jdcm.td.content;>
<!-- end of jdcm.td.element -->]]>

<!ENTITY % jdcm.td.attlist "INCLUDE">
<![%jdcm.td.attlist;[
<!ATTLIST %jdcm.td.qname;
	%jdcm.td.attrib;
	%jdcm.common.attrib;>
<!-- end of jdcm.td.attlist -->]]>

<!-- tr ................................................ -->

<!ENTITY % jdcm.tr.element "INCLUDE">
<![%jdcm.tr.element;[
<!ENTITY % jdcm.tr.content "(%jdcm.th.qname;|%jdcm.td.qname;)+">
<!ENTITY % jdcm.tr.qname "tr">
<!ENTITY % jdcm.tr.tagmin.start "-">
<!ENTITY % jdcm.tr.tagmin.end "-">
<![%sgml.tag.minimizable;[
<!ENTITY % jdcm.tr.tagmin "%jdcm.tr.tagmin.start; %jdcm.tr.tagmin.end;">
<!-- end of sgml.tag.minimizable -->]]>
<!ENTITY % jdcm.tr.tagmin "">
<!ELEMENT %jdcm.tr.qname; %jdcm.tr.tagmin; %jdcm.tr.content;>
<!-- end of jdcm.tr.element -->]]>

<!ENTITY % jdcm.tr.attlist "INCLUDE">
<![%jdcm.tr.attlist;[
<!ATTLIST %jdcm.tr.qname;
	%jdcm.align.attrib;
	%jdcm.cellpadding.attrib;
	%jdcm.行そろえ.attrib;
	%jdcm.subbody.attrib;
	%jdcm.common.attrib;>
<!-- end of jdcm.tr.attlist -->]]>

<!-- table ............................................. -->

<!ENTITY % jdcm.table.element "INCLUDE">
<![%jdcm.table.element;[
<!ENTITY % jdcm.table.content "(%jdcm.tr.qname;)+">
<!ENTITY % jdcm.table.qname "table">
<!ENTITY % jdcm.table.tagmin.start "-">
<!ENTITY % jdcm.table.tagmin.end "-">
<![%sgml.tag.minimizable;[
<!ENTITY % jdcm.table.tagmin "%jdcm.table.tagmin.start; %jdcm.table.tagmin.end;">
<!-- end of sgml.tag.minimizable -->]]>
<!ENTITY % jdcm.table.tagmin "">
<!ELEMENT %jdcm.table.qname; %jdcm.table.tagmin; %jdcm.table.content;>
<!-- end of jdcm.table.element -->]]>

<!ENTITY % jdcm.table.attlist "INCLUDE">
<![%jdcm.table.attlist;[
<!ATTLIST %jdcm.table.qname;
	border	CDATA	"表けい"
	%jdcm.cellpadding.attrib;
	frame	(void|行頭|行末|行頭行末|前|後|前後|box)	"box"
	height	%jdcm.tablelengthnozero.datatype;	#IMPLIED
	rules	(なし|行間|列間|行列間)	"行列間"
	width	%jdcm.tablelengthnozero.datatype;	#IMPLIED
	%jdcm.subbody.attrib;
	%jdcm.common.attrib;>
<!-- end of jdcm.table.attlist -->]]>

<!-- tab ............................................... -->

<!ENTITY % jdcm.tab.element "INCLUDE">
<![%jdcm.tab.element;[
<!ENTITY % jdcm.tab.content "EMPTY">
<!ENTITY % jdcm.tab.qname "tab">
<!ENTITY % jdcm.tab.tagmin.start "-">
<!ENTITY % jdcm.tab.tagmin.end "o">
<![%sgml.tag.minimizable;[
<!ENTITY % jdcm.tab.tagmin "%jdcm.tab.tagmin.start; %jdcm.tab.tagmin.end;">
<!-- end of sgml.tag.minimizable -->]]>
<!ENTITY % jdcm.tab.tagmin "">
<!ELEMENT %jdcm.tab.qname; %jdcm.tab.tagmin; %jdcm.tab.content;>
<!-- end of jdcm.tab.element -->]]>

<!ENTITY % jdcm.tab.attlist "INCLUDE">
<![%jdcm.tab.attlist;[
<!ATTLIST %jdcm.tab.qname;
	%jdcm.subbody.attrib;
	%jdcm.common.attrib;>
<!-- end of jdcm.tab.attlist -->]]>

<!-- tabset: br cannot be here by definition of content model table,
     but example in [JIS X 4052:2000, 6.11] includes br as a child of tabset.  -->

<!ENTITY % jdcm.tabset.element "INCLUDE">
<![%jdcm.tabset.element;[
<!ENTITY % jdcm.tabset.content "(#PCDATA|%jdcm.tab.qname;%Ruby.class;|%jdcm.br.qname;|%jdcm.inoneline.class;)*">
<!ENTITY % jdcm.tabset.qname "tabset">
<!ENTITY % jdcm.tabset.tagmin.start "-">
<!ENTITY % jdcm.tabset.tagmin.end "-">
<![%sgml.tag.minimizable;[
<!ENTITY % jdcm.tabset.tagmin "%jdcm.tabset.tagmin.start; %jdcm.tabset.tagmin.end;">
<!-- end of sgml.tag.minimizable -->]]>
<!ENTITY % jdcm.tabset.tagmin "">
<!ELEMENT %jdcm.tabset.qname; %jdcm.tabset.tagmin; %jdcm.tabset.content;>
<!-- end of jdcm.tabset.element -->]]>

<!ENTITY % jdcm.tabset.attlist "INCLUDE">
<![%jdcm.tabset.attlist;[
<!ATTLIST %jdcm.tabset.qname;
	char	%jdcm.characters.datatype;	#REQUIRED
	タブ位置	%jdcm.tablelengths.datatype;	#REQUIRED
	タブ種	CDATA	#IMPLIED
	%jdcm.subbody.attrib;
	%jdcm.common.attrib;>
<!-- end of jdcm.tabset.attlist -->]]>


<!-- end of jdcm-table.mod -->
