xsl/schema/module/xslt1-struct.mod

<!-- ...................................................................... -->
<!-- XSL Transformations 1 Document Structure Module ...................... -->
<!-- file: xslt1-struct.mod
     
     XSLT, XSL Trensformations, Version 1.0
     
     Copyright 2010 Wakaba <w@suika.fam.cx>, All Rights Reserved.
     
     Permission to use, copy, modify and distribute this DTD and its
     accompanying documentation for any purpose and without fee is hereby
     granted in perpetuity, provided that the above copyright notice and
     this paragraph appear in all copies.  The copyright holders make no
     representation about the suitability of the DTD for any purpose.
     
     It is provided "as is" without expressed or implied warranty.
     
     Revision: 2010-06-20T04:26:01+00:00 (Generated by mkdtds/1.7)
     
     This DTD module is identified by the SYSTEM identifier:
     
       SYSTEM "xslt1-struct.mod"
     
     ...................................................................... -->

<!-- Document Structure

       import, include, namespace-alias, output, preserve-space, strip-space, stylesheet, transform

     This module defines the major structural element types and
     their attributes.
-->

<!-- stylesheet: A stylesheet .......................... -->

<!ENTITY % xslt1.stylesheet.element "INCLUDE">
<![%xslt1.stylesheet.element;[
<!ENTITY % xslt1.stylesheet.content "%xslt1.top-level.content;">
<!ENTITY % xslt1.stylesheet.qname "stylesheet">
<!ENTITY % xslt1.stylesheet.tagmin.start "-">
<!ENTITY % xslt1.stylesheet.tagmin.end "-">
<![%sgml.tag.minimizable;[
<!ENTITY % xslt1.stylesheet.tagmin "%xslt1.stylesheet.tagmin.start; %xslt1.stylesheet.tagmin.end;">
<!-- end of sgml.tag.minimizable -->]]>
<!ENTITY % xslt1.stylesheet.tagmin "">
<!ELEMENT %xslt1.stylesheet.qname; %xslt1.stylesheet.tagmin; %xslt1.stylesheet.content;>
<!-- end of xslt1.stylesheet.element -->]]>

<!ENTITY % xslt1.stylesheet.attlist "INCLUDE">
<![%xslt1.stylesheet.attlist;[
<!ATTLIST %xslt1.stylesheet.qname;
	%xslt1.id.attrib;
	%xslt1.extension-element-prefixes.attrib;
	%xslt1.exclide-result-prefixes.attrib;
	version	%xslt1.number.datatype;	#REQUIRED
	%xslt1.common.attrib;>
<!-- end of xslt1.stylesheet.attlist -->]]>

<!-- transform ......................................... -->

<!ENTITY % xslt1.transform.element "INCLUDE">
<![%xslt1.transform.element;[
<!ENTITY % xslt1.transform.content "%xslt1.top-level.content;">
<!ENTITY % xslt1.transform.qname "transform">
<!ENTITY % xslt1.transform.tagmin.start "-">
<!ENTITY % xslt1.transform.tagmin.end "-">
<![%sgml.tag.minimizable;[
<!ENTITY % xslt1.transform.tagmin "%xslt1.transform.tagmin.start; %xslt1.transform.tagmin.end;">
<!-- end of sgml.tag.minimizable -->]]>
<!ENTITY % xslt1.transform.tagmin "">
<!ELEMENT %xslt1.transform.qname; %xslt1.transform.tagmin; %xslt1.transform.content;>
<!-- end of xslt1.transform.element -->]]>

<!ENTITY % xslt1.transform.attlist "INCLUDE">
<![%xslt1.transform.attlist;[
<!ATTLIST %xslt1.transform.qname;
	%xslt1.id.attrib;
	%xslt1.extension-element-prefixes.attrib;
	%xslt1.exclide-result-prefixes.attrib;
	version	%xslt1.number.datatype;	#REQUIRED
	%xslt1.common.attrib;>
<!-- end of xslt1.transform.attlist -->]]>

<!-- include: Stylesheet inclusion ..................... -->

<!ENTITY % xslt1.include.element "INCLUDE">
<![%xslt1.include.element;[
<!ENTITY % xslt1.include.content "EMPTY">
<!ENTITY % xslt1.include.qname "include">
<!ENTITY % xslt1.include.tagmin.start "-">
<!ENTITY % xslt1.include.tagmin.end "o">
<![%sgml.tag.minimizable;[
<!ENTITY % xslt1.include.tagmin "%xslt1.include.tagmin.start; %xslt1.include.tagmin.end;">
<!-- end of sgml.tag.minimizable -->]]>
<!ENTITY % xslt1.include.tagmin "">
<!ELEMENT %xslt1.include.qname; %xslt1.include.tagmin; %xslt1.include.content;>
<!-- end of xslt1.include.element -->]]>

<!ENTITY % xslt1.include.attlist "INCLUDE">
<![%xslt1.include.attlist;[
<!ATTLIST %xslt1.include.qname;
	href	%URI.datatype;	#REQUIRED
	%xslt1.common.attrib;>
<!-- end of xslt1.include.attlist -->]]>

<!-- import: Stylesheet import ......................... -->

<!ENTITY % xslt1.import.element "INCLUDE">
<![%xslt1.import.element;[
<!ENTITY % xslt1.import.content "EMPTY">
<!ENTITY % xslt1.import.qname "import">
<!ENTITY % xslt1.import.tagmin.start "-">
<!ENTITY % xslt1.import.tagmin.end "o">
<![%sgml.tag.minimizable;[
<!ENTITY % xslt1.import.tagmin "%xslt1.import.tagmin.start; %xslt1.import.tagmin.end;">
<!-- end of sgml.tag.minimizable -->]]>
<!ENTITY % xslt1.import.tagmin "">
<!ELEMENT %xslt1.import.qname; %xslt1.import.tagmin; %xslt1.import.content;>
<!-- end of xslt1.import.element -->]]>

<!ENTITY % xslt1.import.attlist "INCLUDE">
<![%xslt1.import.attlist;[
<!ATTLIST %xslt1.import.qname;
	href	%URI.datatype;	#REQUIRED
	%xslt1.common.attrib;>
<!-- end of xslt1.import.attlist -->]]>

<!-- strip-space: Whitespace-striping element names .... -->

<!ENTITY % xslt1.strip-space.element "INCLUDE">
<![%xslt1.strip-space.element;[
<!ENTITY % xslt1.strip-space.content "EMPTY">
<!ENTITY % xslt1.strip-space.qname "strip-space">
<!ENTITY % xslt1.strip-space.tagmin.start "-">
<!ENTITY % xslt1.strip-space.tagmin.end "o">
<![%sgml.tag.minimizable;[
<!ENTITY % xslt1.strip-space.tagmin "%xslt1.strip-space.tagmin.start; %xslt1.strip-space.tagmin.end;">
<!-- end of sgml.tag.minimizable -->]]>
<!ENTITY % xslt1.strip-space.tagmin "">
<!ELEMENT %xslt1.strip-space.qname; %xslt1.strip-space.tagmin; %xslt1.strip-space.content;>
<!-- end of xslt1.strip-space.element -->]]>

<!ENTITY % xslt1.strip-space.attlist "INCLUDE">
<![%xslt1.strip-space.attlist;[
<!ATTLIST %xslt1.strip-space.qname;
	elements	%xslt1.tokens.datatype;	#REQUIRED
	%xslt1.common.attrib;>
<!-- end of xslt1.strip-space.attlist -->]]>

<!-- preserve-space: Whitespace-preserving element names  -->

<!ENTITY % xslt1.preserve-space.element "INCLUDE">
<![%xslt1.preserve-space.element;[
<!ENTITY % xslt1.preserve-space.content "EMPTY">
<!ENTITY % xslt1.preserve-space.qname "preserve-space">
<!ENTITY % xslt1.preserve-space.tagmin.start "-">
<!ENTITY % xslt1.preserve-space.tagmin.end "o">
<![%sgml.tag.minimizable;[
<!ENTITY % xslt1.preserve-space.tagmin "%xslt1.preserve-space.tagmin.start; %xslt1.preserve-space.tagmin.end;">
<!-- end of sgml.tag.minimizable -->]]>
<!ENTITY % xslt1.preserve-space.tagmin "">
<!ELEMENT %xslt1.preserve-space.qname; %xslt1.preserve-space.tagmin; %xslt1.preserve-space.content;>
<!-- end of xslt1.preserve-space.element -->]]>

<!ENTITY % xslt1.preserve-space.attlist "INCLUDE">
<![%xslt1.preserve-space.attlist;[
<!ATTLIST %xslt1.preserve-space.qname;
	elements	%xslt1.tokens.datatype;	#REQUIRED
	%xslt1.common.attrib;>
<!-- end of xslt1.preserve-space.attlist -->]]>

<!-- namespace-alias ................................... -->

<!ENTITY % xslt1.namespace-alias.element "INCLUDE">
<![%xslt1.namespace-alias.element;[
<!ENTITY % xslt1.namespace-alias.content "EMPTY">
<!ENTITY % xslt1.namespace-alias.qname "namespace-alias">
<!ENTITY % xslt1.namespace-alias.tagmin.start "-">
<!ENTITY % xslt1.namespace-alias.tagmin.end "o">
<![%sgml.tag.minimizable;[
<!ENTITY % xslt1.namespace-alias.tagmin "%xslt1.namespace-alias.tagmin.start; %xslt1.namespace-alias.tagmin.end;">
<!-- end of sgml.tag.minimizable -->]]>
<!ENTITY % xslt1.namespace-alias.tagmin "">
<!ELEMENT %xslt1.namespace-alias.qname; %xslt1.namespace-alias.tagmin; %xslt1.namespace-alias.content;>
<!-- end of xslt1.namespace-alias.element -->]]>

<!ENTITY % xslt1.namespace-alias.attlist "INCLUDE">
<![%xslt1.namespace-alias.attlist;[
<!ATTLIST %xslt1.namespace-alias.qname;
	stylesheet-prefix	%xslt1.prefix-or-default.datatype;	#REQUIRED
	result-prefix	%xslt1.prefix-or-default.datatype;	#REQUIRED
	%xslt1.common.attrib;>
<!-- end of xslt1.namespace-alias.attlist -->]]>

<!-- output ............................................ -->

<!ENTITY % xslt1.output.element "INCLUDE">
<![%xslt1.output.element;[
<!ENTITY % xslt1.output.content "%xslt1.EMPTY.qname;">
<!ENTITY % xslt1.output.qname "output">
<!ENTITY % xslt1.output.tagmin.start "-">
<!ENTITY % xslt1.output.tagmin.end "-">
<![%sgml.tag.minimizable;[
<!ENTITY % xslt1.output.tagmin "%xslt1.output.tagmin.start; %xslt1.output.tagmin.end;">
<!-- end of sgml.tag.minimizable -->]]>
<!ENTITY % xslt1.output.tagmin "">
<!ELEMENT %xslt1.output.qname; %xslt1.output.tagmin; %xslt1.output.content;>
<!-- end of xslt1.output.element -->]]>

<!ENTITY % xslt1.output.attlist "INCLUDE">
<![%xslt1.output.attlist;[
<!ATTLIST %xslt1.output.qname;
	method	%xslt1.qname.datatype;	"xml"
	version	%xslt1.NMTOKEN.datatype;	#IMPLIED
	encoding	%xslt1.string.datatype;	#IMPLIED
	omit-xml-declaration	%xslt1.yesno.datatype;	#IMPLIED
	standalone	%xslt1.yesno.datatype;	#IMPLIED
	doctype-public	%xslt1.string.datatype;	#IMPLIED
	doctype-system	%xslt1.string.datatype;	#IMPLIED
	cdata-section-elements	%xslt1.qnames.datatype;	#IMPLIED
	indent	%xslt1.yesno.datatype;	#IMPLIED
	media-type	%xslt1.string.datatype;	#IMPLIED
	%xslt1.common.attrib;>
<!-- end of xslt1.output.attlist -->]]>


<!-- end of xslt1-struct.mod -->
