html/dtd/module/html-non-standard-embed.mod

<!-- ...................................................................... -->
<!-- Hypertext Markup Language Non-Standard Elements and Attributes
             embed Module ................................................. -->
<!-- file: html-non-standard-embed.mod
     

     
     Copyright 2005 Wakaba <wakaba@suikawiki.org>, All Rights Reserved.
     
     Permission to use, copy, modify and distribute this DTD and its
     accompanying documentation for any purpose and without fee is hereby
     granted in perpetuity, provided that the above copyright notice and
     this paragraph appear in all copies.  The copyright holders make no
     representation about the suitability of the DTD for any purpose.
     
     It is provided "as is" without expressed or implied warranty.
     
     Revision: 2005-04-05T01:46:49+00:00 (Generated by mkdtds/1.06)

     R4.9.18  URLs updated.
     
     This DTD module is identified by the SYSTEM identifier:
     
       SYSTEM "https://suika.suikawiki.org/gate/cvs/*checkout*/markup/html/dtd/html-non-standard-embed.mod"
     
     ...................................................................... -->

<!-- embed

       bgsound
-->

<!-- bgsound: Background sound embedding (IE, au) ...... -->

<!ENTITY % html-non-standard.bgsound.element "INCLUDE">
<![%html-non-standard.bgsound.element;[
<!ENTITY % html-non-standard.bgsound.content "EMPTY">
<!ENTITY % html-non-standard.bgsound.qname "bgsound">
<!ENTITY % html-non-standard.bgsound.tagmin.start "-">
<!ENTITY % html-non-standard.bgsound.tagmin.end "o">
<![%sgml.tag.minimizable;[
<!ENTITY % html-non-standard.bgsound.tagmin "%html-non-standard.bgsound.tagmin.start; %html-non-standard.bgsound.tagmin.end;">
<!-- end of sgml.tag.minimizable -->]]>
<!ENTITY % html-non-standard.bgsound.tagmin "">
<!ELEMENT %html-non-standard.bgsound.qname; %html-non-standard.bgsound.tagmin; %html-non-standard.bgsound.content;>
<!-- end of html-non-standard.bgsound.element -->]]>

<!ENTITY % html-non-standard.bgsound.attlist "INCLUDE">
<![%html-non-standard.bgsound.attlist;[
<!ATTLIST %html-non-standard.bgsound.qname;
	loop	%html-non-standard.loop.datatype;	#IMPLIED
	src	%URI.datatype;	#IMPLIED
	%html-non-standard.common.attrib;>
<!-- end of html-non-standard.bgsound.attlist -->]]>

<!ENTITY % html-non-standard.img.copyright.attlist "INCLUDE">
<![%html-non-standard.img.copyright.attlist;[
<!ATTLIST %img.qname;
	%html-non-standard.au.copyright.attrib;>
<!-- end of html-non-standard.img.copyright.attlist -->]]>

<!ENTITY % html-non-standard.img.localsrc.attlist "INCLUDE">
<![%html-non-standard.img.localsrc.attlist;[
<!ATTLIST %img.qname;
	%html-non-standard.localsrc.attribute.qname;	%html-non-standard.au.iconname.datatype;	#IMPLIED>
<!-- end of html-non-standard.img.localsrc.attlist -->]]>

<!ENTITY % html-non-standard.img.src.optional.attlist "INCLUDE">
<![%html-non-standard.img.src.optional.attlist;[
<!ATTLIST %img.qname;
	src	%URI.datatype;	#IMPLIED>
<!-- end of html-non-standard.img.src.optional.attlist -->]]>

<!ENTITY % html-non-standard.object.copyright.attlist "INCLUDE">
<![%html-non-standard.object.copyright.attlist;[
<!ATTLIST %object.qname;
	%html-non-standard.au.copyright.attrib;>
<!-- end of html-non-standard.object.copyright.attlist -->]]>


<!-- end of html-non-standard-embed.mod -->
