html/dtd/module/html30-00-figure.mod

<!-- ...................................................................... -->
<!-- Hypertext Markup Language 3.0 (draft 00) Figure Module ............... -->
<!-- file: html30-00-figure.mod
     

     
     Copyright 2005 Wakaba <wakaba@suikawiki.org>, All Rights Reserved.
     
     Permission to use, copy, modify and distribute this DTD and its
     accompanying documentation for any purpose and without fee is hereby
     granted in perpetuity, provided that the above copyright notice and
     this paragraph appear in all copies.  The copyright holders make no
     representation about the suitability of the DTD for any purpose.
     
     It is provided "as is" without expressed or implied warranty.
     
     Revision: 2005-04-05T01:46:48+00:00 (Generated by mkdtds/1.06)
     
     R4.9.18  URLs updated.

     This DTD module is identified by the SYSTEM identifier:
     
       SYSTEM "https://suika.suikawiki.org/www/markup/html/dtd/module/html30-00-figure.mod"
     
     ...................................................................... -->

<!-- Figure

       credit, fig, figtext, overlay
-->

<!-- fig: figures ...................................... -->

<!ENTITY % html30-00.fig.element "INCLUDE">
<![%html30-00.fig.element;[
<!ENTITY % html30-00.fig.content "(%html30-00.overlay.qname;*,(%caption.qname;|%html30-00.caption.qname;)?,%html30-00.figtext.qname;,%html30-00.credit.qname;?)">
<!ENTITY % html30-00.fig.qname "fig">
<!ENTITY % html30-00.fig.tagmin.start "-">
<!ENTITY % html30-00.fig.tagmin.end "-">
<![%sgml.tag.minimizable;[
<!ENTITY % html30-00.fig.tagmin "%html30-00.fig.tagmin.start; %html30-00.fig.tagmin.end;">
<!-- end of sgml.tag.minimizable -->]]>
<!ENTITY % html30-00.fig.tagmin "">
<!ELEMENT %html30-00.fig.qname; %html30-00.fig.tagmin; %html30-00.fig.content;>
<!-- end of html30-00.fig.element -->]]>

<!ENTITY % html30-00.fig.attlist "INCLUDE">
<![%html30-00.fig.attlist;[
<!ATTLIST %html30-00.fig.qname;
	%html30-00.attrs.attrib;
	%html30-00.needs.attrib;
	%html30-00.url.link.attrib;
	%html30-00.block.align.attrib;
	%html30-00.src.required.attrib;
	noflow	%html30-00.(noflow).datatype;	#IMPLIED
	%html30-00.Size.attrib;
	%html30-00.imagemap.attrib;
	%html30-00.common.attrib;>
<!-- end of html30-00.fig.attlist -->]]>

<!-- overlay ........................................... -->

<!ENTITY % html30-00.overlay.element "INCLUDE">
<![%html30-00.overlay.element;[
<!ENTITY % html30-00.overlay.content "EMPTY">
<!ENTITY % html30-00.overlay.qname "overlay">
<!ENTITY % html30-00.overlay.tagmin.start "-">
<!ENTITY % html30-00.overlay.tagmin.end "o">
<![%sgml.tag.minimizable;[
<!ENTITY % html30-00.overlay.tagmin "%html30-00.overlay.tagmin.start; %html30-00.overlay.tagmin.end;">
<!-- end of sgml.tag.minimizable -->]]>
<!ENTITY % html30-00.overlay.tagmin "">
<!ELEMENT %html30-00.overlay.qname; %html30-00.overlay.tagmin; %html30-00.overlay.content;>
<!-- end of html30-00.overlay.element -->]]>

<!ENTITY % html30-00.overlay.attlist "INCLUDE">
<![%html30-00.overlay.attlist;[
<!ATTLIST %html30-00.overlay.qname;
	%html30-00.url.link.attrib;
	%html30-00.src.required.attrib;
	%html30-00.Size.attrib;
	%html30-00.imagemap.attrib;
	x	%html30-00.NUMBER.datatype;	#IMPLIED
	y	%html30-00.NUMBER.datatype;	#IMPLIED
	%html30-00.common.attrib;>
<!-- end of html30-00.overlay.attlist -->]]>

<!-- figtext: dummy element ............................ -->

<!ENTITY % html30-00.figtext.element "INCLUDE">
<![%html30-00.figtext.element;[
<!ENTITY % html30-00.figtext.content "%html30-00.body.content;">
<!ENTITY % html30-00.figtext.qname "figtext">
<!ENTITY % html30-00.figtext.tagmin.start "-">
<!ENTITY % html30-00.figtext.tagmin.end "-">
<![%sgml.tag.minimizable;[
<!ENTITY % html30-00.figtext.tagmin "%html30-00.figtext.tagmin.start; %html30-00.figtext.tagmin.end;">
<!-- end of sgml.tag.minimizable -->]]>
<!ENTITY % html30-00.figtext.tagmin "">
<!ELEMENT %html30-00.figtext.qname; %html30-00.figtext.tagmin; %html30-00.figtext.content;>
<!-- end of html30-00.figtext.element -->]]>

<!ENTITY % html30-00.figtext.attlist "INCLUDE">
<![%html30-00.figtext.attlist;[
<!ATTLIST %html30-00.figtext.qname;
	%html30-00.common.attrib;>
<!-- end of html30-00.figtext.attlist -->]]>

<!-- credit: name the source of a block quotation or figure  -->

<!ENTITY % html30-00.credit.element "INCLUDE">
<![%html30-00.credit.element;[
<!ENTITY % html30-00.credit.content "%html30-00.text.content;">
<!ENTITY % html30-00.credit.qname "credit">
<!ENTITY % html30-00.credit.tagmin.start "-">
<!ENTITY % html30-00.credit.tagmin.end "-">
<![%sgml.tag.minimizable;[
<!ENTITY % html30-00.credit.tagmin "%html30-00.credit.tagmin.start; %html30-00.credit.tagmin.end;">
<!-- end of sgml.tag.minimizable -->]]>
<!ENTITY % html30-00.credit.tagmin "">
<!ELEMENT %html30-00.credit.qname; %html30-00.credit.tagmin; %html30-00.credit.content;>
<!-- end of html30-00.credit.element -->]]>

<!ENTITY % html30-00.credit.attlist "INCLUDE">
<![%html30-00.credit.attlist;[
<!ATTLIST %html30-00.credit.qname;
	%html30-00.attrs.attrib;
	%html30-00.common.attrib;>
<!-- end of html30-00.credit.attlist -->]]>


<!-- end of html30-00-figure.mod -->
