html/dtd/module/html30-00-struct.mod

<!-- ...................................................................... -->
<!-- Hypertext Markup Language 3.0 (draft 00) Document Structure Module ... -->
<!-- file: html30-00-struct.mod
     

     
     Copyright 2005 Wakaba <wakaba@suikawiki.org>, All Rights Reserved.
     
     Permission to use, copy, modify and distribute this DTD and its
     accompanying documentation for any purpose and without fee is hereby
     granted in perpetuity, provided that the above copyright notice and
     this paragraph appear in all copies.  The copyright holders make no
     representation about the suitability of the DTD for any purpose.
     
     It is provided "as is" without expressed or implied warranty.
     
     Revision: 2005-04-05T01:46:48+00:00 (Generated by mkdtds/1.06)
     
     R4.9.18  URLs updated.

     This DTD module is identified by the SYSTEM identifier:
     
       SYSTEM "https://suika.suikawiki.org/www/markup/html/dtd/module/html30-00-struct.mod"
     
     ...................................................................... -->

<!-- Document Structure

       banner, bodytext, fn, note

     This module defines the major structural element types and
     their attributes.
-->

<!-- banner: Used for corporate logos, navigation aids, disclaimers
     and other information which shouldn't be scrolled with
     the rest of the document.  It provides an alternative to
     using link element in the document head to reference an
     externally defined banner.  -->

<!ENTITY % html30-00.banner.element "INCLUDE">
<![%html30-00.banner.element;[
<!ENTITY % html30-00.banner.content "%html30-00.body.content;">
<!ENTITY % html30-00.banner.qname "banner">
<!ENTITY % html30-00.banner.tagmin.start "-">
<!ENTITY % html30-00.banner.tagmin.end "-">
<![%sgml.tag.minimizable;[
<!ENTITY % html30-00.banner.tagmin "%html30-00.banner.tagmin.start; %html30-00.banner.tagmin.end;">
<!-- end of sgml.tag.minimizable -->]]>
<!ENTITY % html30-00.banner.tagmin "">
<!ELEMENT %html30-00.banner.qname; %html30-00.banner.tagmin; %html30-00.banner.content;>
<!-- end of html30-00.banner.element -->]]>

<!ENTITY % html30-00.banner.attlist "INCLUDE">
<![%html30-00.banner.attlist;[
<!ATTLIST %html30-00.banner.qname;
	%html30-00.attrs.attrib;
	%html30-00.common.attrib;>
<!-- end of html30-00.banner.attlist -->]]>

<!-- bodytext: dummy element ........................... -->

<!ENTITY % html30-00.bodytext.element "INCLUDE">
<![%html30-00.bodytext.element;[
<!ENTITY % html30-00.bodytext.content "%html30-00.body.content;">
<!ENTITY % html30-00.bodytext.qname "bodytext">
<!ENTITY % html30-00.bodytext.tagmin.start "-">
<!ENTITY % html30-00.bodytext.tagmin.end "-">
<![%sgml.tag.minimizable;[
<!ENTITY % html30-00.bodytext.tagmin "%html30-00.bodytext.tagmin.start; %html30-00.bodytext.tagmin.end;">
<!-- end of sgml.tag.minimizable -->]]>
<!ENTITY % html30-00.bodytext.tagmin "">
<!ELEMENT %html30-00.bodytext.qname; %html30-00.bodytext.tagmin; %html30-00.bodytext.content;>
<!-- end of html30-00.bodytext.element -->]]>

<!ENTITY % html30-00.bodytext.attlist "INCLUDE">
<![%html30-00.bodytext.attlist;[
<!ATTLIST %html30-00.bodytext.qname;
	%html30-00.common.attrib;>
<!-- end of html30-00.bodytext.attlist -->]]>

<!-- fn: footnotes, and when practical, rendered as pop-up notes  -->

<!ENTITY % html30-00.fn.element "INCLUDE">
<![%html30-00.fn.element;[
<!ENTITY % html30-00.fn.content "%html30-00.body.content;">
<!ENTITY % html30-00.fn.qname "fn">
<!ENTITY % html30-00.fn.tagmin.start "-">
<!ENTITY % html30-00.fn.tagmin.end "-">
<![%sgml.tag.minimizable;[
<!ENTITY % html30-00.fn.tagmin "%html30-00.fn.tagmin.start; %html30-00.fn.tagmin.end;">
<!-- end of sgml.tag.minimizable -->]]>
<!ENTITY % html30-00.fn.tagmin "">
<!ELEMENT %html30-00.fn.qname; %html30-00.fn.tagmin; %html30-00.fn.content;>
<!-- end of html30-00.fn.element -->]]>

<!ENTITY % html30-00.fn.attlist "INCLUDE">
<![%html30-00.fn.attlist;[
<!ATTLIST %html30-00.fn.qname;
	%html30-00.attrs.attrib;
	%html30-00.common.attrib;>
<!-- end of html30-00.fn.attlist -->]]>

<!-- note: admonishments such as notes,
     cautions or warnings, as commonly used in technical documentation  -->

<!ENTITY % html30-00.note.element "INCLUDE">
<![%html30-00.note.element;[
<!ENTITY % html30-00.note.content "%html30-00.body.content;">
<!ENTITY % html30-00.note.qname "note">
<!ENTITY % html30-00.note.tagmin.start "-">
<!ENTITY % html30-00.note.tagmin.end "-">
<![%sgml.tag.minimizable;[
<!ENTITY % html30-00.note.tagmin "%html30-00.note.tagmin.start; %html30-00.note.tagmin.end;">
<!-- end of sgml.tag.minimizable -->]]>
<!ENTITY % html30-00.note.tagmin "">
<!ELEMENT %html30-00.note.qname; %html30-00.note.tagmin; %html30-00.note.content;>
<!-- end of html30-00.note.element -->]]>

<!ENTITY % html30-00.note.attlist "INCLUDE">
<![%html30-00.note.attlist;[
<!ATTLIST %html30-00.note.qname;
	%html30-00.attrs.attrib;
	%html30-00.src.attrib;
	%html30-00.url.link.attrib;
	%html30-00.needs.attrib;
	%html30-00.common.attrib;>
<!-- end of html30-00.note.attlist -->]]>


<!-- end of html30-00-struct.mod -->
