html/dtd/module/webforms20-submission-submission.mod

<!-- ...................................................................... -->
<!-- Web Forms XML Submission 2.0 Call For Comments -- 27 June 2004
             Submission Module ............................................ -->
<!-- file: webforms20-submission-submission.mod
     
     Web Forms 2.0 XML Submission Format (application/x-www-form+xml).
     
     Copyright 2005 Wakaba <w@suika.fam.cx>, All Rights Reserved.
     
     Permission to use, copy, modify and distribute this DTD and its
     accompanying documentation for any purpose and without fee is hereby
     granted in perpetuity, provided that the above copyright notice and
     this paragraph appear in all copies.  The copyright holders make no
     representation about the suitability of the DTD for any purpose.
     
     It is provided "as is" without expressed or implied warranty.
     
     Revision: 2005-04-05T01:46:48+00:00 (Generated by mkdtds/1.06)
     
     This DTD module is identified by the SYSTEM identifier:
     
       SYSTEM "webforms20-submission-submission.mod"
     
     ...................................................................... -->

<!-- Submission

       field, file, repeat, submission
-->

<!-- submission ........................................ -->

<!ENTITY % webforms20-submission.submission.element "INCLUDE">
<![%webforms20-submission.submission.element;[
<!ENTITY % webforms20-submission.submission.content "(%webforms20-submission.repeat.qname;*,(%webforms20-submission.field.qname;|%webforms20-submission.file.qname;)*)">
<!ENTITY % webforms20-submission.submission.qname "submission">
<!ENTITY % webforms20-submission.submission.tagmin.start "-">
<!ENTITY % webforms20-submission.submission.tagmin.end "-">
<![%sgml.tag.minimizable;[
<!ENTITY % webforms20-submission.submission.tagmin "%webforms20-submission.submission.tagmin.start; %webforms20-submission.submission.tagmin.end;">
<!-- end of sgml.tag.minimizable -->]]>
<!ENTITY % webforms20-submission.submission.tagmin "">
<!ELEMENT %webforms20-submission.submission.qname; %webforms20-submission.submission.tagmin; %webforms20-submission.submission.content;>
<!-- end of webforms20-submission.submission.element -->]]>

<!ENTITY % webforms20-submission.submission.attlist "INCLUDE">
<![%webforms20-submission.submission.attlist;[
<!ATTLIST %webforms20-submission.submission.qname;
	%webforms20-submission.common.attrib;>
<!-- end of webforms20-submission.submission.attlist -->]]>

<!-- repeat: For each repetition block in the form data set  -->

<!ENTITY % webforms20-submission.repeat.element "INCLUDE">
<![%webforms20-submission.repeat.element;[
<!ENTITY % webforms20-submission.repeat.content "EMPTY">
<!ENTITY % webforms20-submission.repeat.qname "repeat">
<!ENTITY % webforms20-submission.repeat.tagmin.start "-">
<!ENTITY % webforms20-submission.repeat.tagmin.end "o">
<![%sgml.tag.minimizable;[
<!ENTITY % webforms20-submission.repeat.tagmin "%webforms20-submission.repeat.tagmin.start; %webforms20-submission.repeat.tagmin.end;">
<!-- end of sgml.tag.minimizable -->]]>
<!ENTITY % webforms20-submission.repeat.tagmin "">
<!ELEMENT %webforms20-submission.repeat.qname; %webforms20-submission.repeat.tagmin; %webforms20-submission.repeat.content;>
<!-- end of webforms20-submission.repeat.element -->]]>

<!ENTITY % webforms20-submission.repeat.attlist "INCLUDE">
<![%webforms20-submission.repeat.attlist;[
<!ATTLIST %webforms20-submission.repeat.qname;
	template	%webforms20-submission.idref.datatype;	#REQUIRED
	index	%webforms20-submission.index.datatype;	#REQUIRED
	%webforms20-submission.common.attrib;>
<!-- end of webforms20-submission.repeat.attlist -->]]>

<!-- field: Successful form control other than a file upload control  -->

<!ENTITY % webforms20-submission.field.element "INCLUDE">
<![%webforms20-submission.field.element;[
<!ENTITY % webforms20-submission.field.content "(#PCDATA)*">
<!ENTITY % webforms20-submission.field.qname "field">
<!ENTITY % webforms20-submission.field.tagmin.start "-">
<!ENTITY % webforms20-submission.field.tagmin.end "-">
<![%sgml.tag.minimizable;[
<!ENTITY % webforms20-submission.field.tagmin "%webforms20-submission.field.tagmin.start; %webforms20-submission.field.tagmin.end;">
<!-- end of sgml.tag.minimizable -->]]>
<!ENTITY % webforms20-submission.field.tagmin "">
<!ELEMENT %webforms20-submission.field.qname; %webforms20-submission.field.tagmin; %webforms20-submission.field.content;>
<!-- end of webforms20-submission.field.element -->]]>

<!ENTITY % webforms20-submission.field.attlist "INCLUDE">
<![%webforms20-submission.field.attlist;[
<!ATTLIST %webforms20-submission.field.qname;
	name	%webforms20-submission.name.datatype;	#REQUIRED
	index	%webforms20-submission.index.datatype;	#REQUIRED
	xml:space	(preserve)	#FIXED "preserve"
	%webforms20-submission.common.attrib;>
<!-- end of webforms20-submission.field.attlist -->]]>

<!-- file: A file upload ............................... -->

<!ENTITY % webforms20-submission.file.element "INCLUDE">
<![%webforms20-submission.file.element;[
<!ENTITY % webforms20-submission.file.content "%webforms20-submission.Base64binary.content;">
<!ENTITY % webforms20-submission.file.qname "file">
<!ENTITY % webforms20-submission.file.tagmin.start "-">
<!ENTITY % webforms20-submission.file.tagmin.end "-">
<![%sgml.tag.minimizable;[
<!ENTITY % webforms20-submission.file.tagmin "%webforms20-submission.file.tagmin.start; %webforms20-submission.file.tagmin.end;">
<!-- end of sgml.tag.minimizable -->]]>
<!ENTITY % webforms20-submission.file.tagmin "">
<!ELEMENT %webforms20-submission.file.qname; %webforms20-submission.file.tagmin; %webforms20-submission.file.content;>
<!-- end of webforms20-submission.file.element -->]]>

<!ENTITY % webforms20-submission.file.attlist "INCLUDE">
<![%webforms20-submission.file.attlist;[
<!ATTLIST %webforms20-submission.file.qname;
	name	%webforms20-submission.name.datatype;	#REQUIRED
	index	%webforms20-submission.index.datatype;	#REQUIRED
	filename	%webforms20-submission.filename.datatype;	#IMPLIED
	type	%ContentType.datatype;	#IMPLIED
	%webforms20-submission.common.attrib;>
<!-- end of webforms20-submission.file.attlist -->]]>


<!-- end of webforms20-submission-submission.mod -->
