html/dtd/module/webforms20-formext.mod

<!-- ...................................................................... -->
<!-- Web Forms 2.0 Call For Comments - 27 June 2004
             Forms Extensions Module ...................................... -->
<!-- file: webforms20-formext.mod
     
     Web Forms 2.0, the next generation HTML form model.
     
     Copyright 2005 Wakaba <w@suika.fam.cx>, All Rights Reserved.
     
     Permission to use, copy, modify and distribute this DTD and its
     accompanying documentation for any purpose and without fee is hereby
     granted in perpetuity, provided that the above copyright notice and
     this paragraph appear in all copies.  The copyright holders make no
     representation about the suitability of the DTD for any purpose.
     
     It is provided "as is" without expressed or implied warranty.
     
     Revision: 2005-04-05T01:46:48+00:00 (Generated by mkdtds/1.06)
     
     This DTD module is identified by the SYSTEM identifier:
     
       SYSTEM "webforms20-formext.mod"
     
     ...................................................................... -->

<!-- Forms Extensions

       button, fieldset, form, input, label, legend, optgroup, option, output, select, textarea
-->

<!-- form .............................................. -->

<!ENTITY % webforms20.form.element "INCLUDE">
<![%webforms20.form.element;[
<!ENTITY % webforms20.form.content "(%Heading.class;|%List.class;|%Block.mix;)*">
<!ENTITY % webforms20.form.qname "form">
<!ENTITY % webforms20.form.tagmin.start "-">
<!ENTITY % webforms20.form.tagmin.end "-">
<![%sgml.tag.minimizable;[
<!ENTITY % webforms20.form.tagmin "%webforms20.form.tagmin.start; %webforms20.form.tagmin.end;">
<!-- end of sgml.tag.minimizable -->]]>
<!ENTITY % webforms20.form.tagmin "">
<!ELEMENT %webforms20.form.qname; %webforms20.form.tagmin; %webforms20.form.content;>
<!-- end of webforms20.form.element -->]]>

<!ENTITY % webforms20.form.attlist "INCLUDE">
<![%webforms20.form.attlist;[
<!ATTLIST %webforms20.form.qname;
	%webforms20.accept.attrib;
	accept-charset	%Charsets.datatype;	#IMPLIED
	action	%URI.datatype;	#IMPLIED
	enctype	%ContentType.datatype;	#IMPLIED
	method	(get|post|put|delete)	"get"
	replace	(document|values)	"document"
	%webforms20.common.attrib;>
<!-- end of webforms20.form.attlist -->]]>

<!-- input ............................................. -->

<!ENTITY % webforms20.input.element "INCLUDE">
<![%webforms20.input.element;[
<!ENTITY % webforms20.input.content "EMPTY">
<!ENTITY % webforms20.input.qname "input">
<!ENTITY % webforms20.input.tagmin.start "-">
<!ENTITY % webforms20.input.tagmin.end "o">
<![%sgml.tag.minimizable;[
<!ENTITY % webforms20.input.tagmin "%webforms20.input.tagmin.start; %webforms20.input.tagmin.end;">
<!-- end of sgml.tag.minimizable -->]]>
<!ENTITY % webforms20.input.tagmin "">
<!ELEMENT %webforms20.input.qname; %webforms20.input.tagmin; %webforms20.input.content;>
<!-- end of webforms20.input.element -->]]>

<!ENTITY % webforms20.input.attlist "INCLUDE">
<![%webforms20.input.attlist;[
<!ATTLIST %webforms20.input.qname;
	%webforms20.accept.attrib;
	%webforms20.action.attrib;
	checked	(checked)	#IMPLIED
	%webforms20.disabled.attrib;
	%webforms20.form.attrib;
	%webforms20.focus.attrib;
	%webforms20.help.attrib;
	%webforms20.img.attrib;
	min	CDATA	#IMPLIED
	max	CDATA	#IMPLIED
	%webforms20.name.attrib;
	pattern	CDATA	#IMPLIED
	step	CDATA	#IMPLIED
	%webforms20.size.attrib;
	%webforms20.template.attrib;
	%webforms20.text.attrib;
	type	(text|password|checkbox|radio|button|submit|reset|add|remove|file|hidden|image|datetime|local-datetime|date|month|week|time|number|range|email|uri)	"text"
	%webforms20.value.attrib;
	%webforms20.control.attrib;
	%webforms20.common.attrib;>
<!-- end of webforms20.input.attlist -->]]>

<!-- select ............................................ -->

<!ENTITY % webforms20.select.element "INCLUDE">
<![%webforms20.select.element;[
<!ENTITY % webforms20.select.content "(%webforms20.optgroup.qname;|%webforms20.option.qname;)*">
<!ENTITY % webforms20.select.qname "select">
<!ENTITY % webforms20.select.tagmin.start "-">
<!ENTITY % webforms20.select.tagmin.end "-">
<![%sgml.tag.minimizable;[
<!ENTITY % webforms20.select.tagmin "%webforms20.select.tagmin.start; %webforms20.select.tagmin.end;">
<!-- end of sgml.tag.minimizable -->]]>
<!ENTITY % webforms20.select.tagmin "">
<!ELEMENT %webforms20.select.qname; %webforms20.select.tagmin; %webforms20.select.content;>
<!-- end of webforms20.select.element -->]]>

<!ENTITY % webforms20.select.attlist "INCLUDE">
<![%webforms20.select.attlist;[
<!ATTLIST %webforms20.select.qname;
	%webforms20.autocomplete.attrib;
	%webforms20.autofocus.attrib;
	%webforms20.disabled.attrib;
	%webforms20.form.attrib;
	%webforms20.help.attrib;
	multiple	(multiple)	#IMPLIED
	%webforms20.name.attrib;
	%webforms20.size.attrib;
	%webforms20.tabindex.attrib;
	%webforms20.control.attrib;
	%webforms20.common.attrib;>
<!-- end of webforms20.select.attlist -->]]>

<!-- optgroup .......................................... -->

<!ENTITY % webforms20.optgroup.element "INCLUDE">
<![%webforms20.optgroup.element;[
<!ENTITY % webforms20.optgroup.content "(%webforms20.option.qname;)*">
<!ENTITY % webforms20.optgroup.qname "optgroup">
<!ENTITY % webforms20.optgroup.tagmin.start "-">
<!ENTITY % webforms20.optgroup.tagmin.end "-">
<![%sgml.tag.minimizable;[
<!ENTITY % webforms20.optgroup.tagmin "%webforms20.optgroup.tagmin.start; %webforms20.optgroup.tagmin.end;">
<!-- end of sgml.tag.minimizable -->]]>
<!ENTITY % webforms20.optgroup.tagmin "">
<!ELEMENT %webforms20.optgroup.qname; %webforms20.optgroup.tagmin; %webforms20.optgroup.content;>
<!-- end of webforms20.optgroup.element -->]]>

<!ENTITY % webforms20.optgroup.attlist "INCLUDE">
<![%webforms20.optgroup.attlist;[
<!ATTLIST %webforms20.optgroup.qname;
	%webforms20.disabled.attrib;
	label	%Text.datatype;	#REQUIRED
	%webforms20.common.attrib;>
<!-- end of webforms20.optgroup.attlist -->]]>

<!-- option ............................................ -->

<!ENTITY % webforms20.option.element "INCLUDE">
<![%webforms20.option.element;[
<!ENTITY % webforms20.option.content "(#PCDATA)*">
<!ENTITY % webforms20.option.qname "option">
<!ENTITY % webforms20.option.tagmin.start "-">
<!ENTITY % webforms20.option.tagmin.end "-">
<![%sgml.tag.minimizable;[
<!ENTITY % webforms20.option.tagmin "%webforms20.option.tagmin.start; %webforms20.option.tagmin.end;">
<!-- end of sgml.tag.minimizable -->]]>
<!ENTITY % webforms20.option.tagmin "">
<!ELEMENT %webforms20.option.qname; %webforms20.option.tagmin; %webforms20.option.content;>
<!-- end of webforms20.option.element -->]]>

<!ENTITY % webforms20.option.attlist "INCLUDE">
<![%webforms20.option.attlist;[
<!ATTLIST %webforms20.option.qname;
	%webforms20.disabled.attrib;
	label	%Text.datatype;	#IMPLIED
	selected	(selected)	#IMPLIED
	%webforms20.value.attrib;
	%webforms20.common.attrib;>
<!-- end of webforms20.option.attlist -->]]>

<!-- textarea .......................................... -->

<!ENTITY % webforms20.textarea.element "INCLUDE">
<![%webforms20.textarea.element;[
<!ENTITY % webforms20.textarea.content "(#PCDATA)*">
<!ENTITY % webforms20.textarea.qname "textarea">
<!ENTITY % webforms20.textarea.tagmin.start "-">
<!ENTITY % webforms20.textarea.tagmin.end "-">
<![%sgml.tag.minimizable;[
<!ENTITY % webforms20.textarea.tagmin "%webforms20.textarea.tagmin.start; %webforms20.textarea.tagmin.end;">
<!-- end of sgml.tag.minimizable -->]]>
<!ENTITY % webforms20.textarea.tagmin "">
<!ELEMENT %webforms20.textarea.qname; %webforms20.textarea.tagmin; %webforms20.textarea.content;>
<!-- end of webforms20.textarea.element -->]]>

<!ENTITY % webforms20.textarea.attlist "INCLUDE">
<![%webforms20.textarea.attlist;[
<!ATTLIST %webforms20.textarea.qname;
	cols	%Number.datatype;	#IMPLIED
	%webforms20.disabled.attrib;
	%webforms20.form.attrib;
	%webforms20.focus.attrib;
	%webforms20.help.attrib;
	%webforms20.name.attrib;
	rows	%Number.datatype;	#IMPLIED
	%webforms20.text.attrib;
	wrap	(soft|hard)	"soft"
	%webforms20.control.attrib;
	%webforms20.common.attrib;>
<!-- end of webforms20.textarea.attlist -->]]>

<!-- output ............................................ -->

<!ENTITY % webforms20.output.element "INCLUDE">
<![%webforms20.output.element;[
<!ENTITY % webforms20.output.content "(#PCDATA)*">
<!ENTITY % webforms20.output.qname "output">
<!ENTITY % webforms20.output.tagmin.start "-">
<!ENTITY % webforms20.output.tagmin.end "-">
<![%sgml.tag.minimizable;[
<!ENTITY % webforms20.output.tagmin "%webforms20.output.tagmin.start; %webforms20.output.tagmin.end;">
<!-- end of sgml.tag.minimizable -->]]>
<!ENTITY % webforms20.output.tagmin "">
<!ELEMENT %webforms20.output.qname; %webforms20.output.tagmin; %webforms20.output.content;>
<!-- end of webforms20.output.element -->]]>

<!ENTITY % webforms20.output.attlist "INCLUDE">
<![%webforms20.output.attlist;[
<!ATTLIST %webforms20.output.qname;
	for	IDREFS	#IMPLIED
	%webforms20.form.attrib;
	%webforms20.name.attrib;
	%webforms20.control.attrib;
	%webforms20.common.attrib;>
<!-- end of webforms20.output.attlist -->]]>

<!-- button: Content cannot include Form and Formctrl. . -->

<!ENTITY % webforms20.button.element "INCLUDE">
<![%webforms20.button.element;[
<!ENTITY % webforms20.button.content "(#PCDATA|%Heading.class;|%List.class;|%Block.mix;|%Inline.mix;)*">
<!ENTITY % webforms20.button.qname "button">
<!ENTITY % webforms20.button.tagmin.start "-">
<!ENTITY % webforms20.button.tagmin.end "-">
<![%sgml.tag.minimizable;[
<!ENTITY % webforms20.button.tagmin "%webforms20.button.tagmin.start; %webforms20.button.tagmin.end;">
<!-- end of sgml.tag.minimizable -->]]>
<!ENTITY % webforms20.button.tagmin "">
<!ELEMENT %webforms20.button.qname; %webforms20.button.tagmin; %webforms20.button.content;>
<!-- end of webforms20.button.element -->]]>

<!ENTITY % webforms20.button.attlist "INCLUDE">
<![%webforms20.button.attlist;[
<!ATTLIST %webforms20.button.qname;
	%webforms20.accesskey.attrib;
	%webforms20.action.attrib;
	%webforms20.disabled.attrib;
	%webforms20.form.attrib;
	%webforms20.help.attrib;
	%webforms20.name.attrib;
	%webforms20.tabindex.attrib;
	%webforms20.template.attrib;
	type	(button|submit|reset|add|remove)	"submit"
	%webforms20.value.attrib;
	%webforms20.control.attrib;
	%webforms20.common.attrib;>
<!-- end of webforms20.button.attlist -->]]>

<!-- fieldset .......................................... -->

<!ENTITY % webforms20.fieldset.element "INCLUDE">
<![%webforms20.fieldset.element;[
<!ENTITY % webforms20.fieldset.content "(#PCDATA|%webforms20.legend.qname;|%Flow.mix;)*">
<!ENTITY % webforms20.fieldset.qname "fieldset">
<!ENTITY % webforms20.fieldset.tagmin.start "-">
<!ENTITY % webforms20.fieldset.tagmin.end "-">
<![%sgml.tag.minimizable;[
<!ENTITY % webforms20.fieldset.tagmin "%webforms20.fieldset.tagmin.start; %webforms20.fieldset.tagmin.end;">
<!-- end of sgml.tag.minimizable -->]]>
<!ENTITY % webforms20.fieldset.tagmin "">
<!ELEMENT %webforms20.fieldset.qname; %webforms20.fieldset.tagmin; %webforms20.fieldset.content;>
<!-- end of webforms20.fieldset.element -->]]>

<!ENTITY % webforms20.fieldset.attlist "INCLUDE">
<![%webforms20.fieldset.attlist;[
<!ATTLIST %webforms20.fieldset.qname;
	%webforms20.disabled.attrib;
	%webforms20.form.attrib;
	%webforms20.help.attrib;
	%webforms20.control.attrib;
	%webforms20.common.attrib;>
<!-- end of webforms20.fieldset.attlist -->]]>

<!-- legend ............................................ -->

<!ENTITY % webforms20.legend.element "INCLUDE">
<![%webforms20.legend.element;[
<!ENTITY % webforms20.legend.content "(#PCDATA|%Inline.mix;)*">
<!ENTITY % webforms20.legend.qname "legend">
<!ENTITY % webforms20.legend.tagmin.start "-">
<!ENTITY % webforms20.legend.tagmin.end "-">
<![%sgml.tag.minimizable;[
<!ENTITY % webforms20.legend.tagmin "%webforms20.legend.tagmin.start; %webforms20.legend.tagmin.end;">
<!-- end of sgml.tag.minimizable -->]]>
<!ENTITY % webforms20.legend.tagmin "">
<!ELEMENT %webforms20.legend.qname; %webforms20.legend.tagmin; %webforms20.legend.content;>
<!-- end of webforms20.legend.element -->]]>

<!ENTITY % webforms20.legend.attlist "INCLUDE">
<![%webforms20.legend.attlist;[
<!ATTLIST %webforms20.legend.qname;
	%webforms20.accesskey.attrib;
	%webforms20.common.attrib;>
<!-- end of webforms20.legend.attlist -->]]>

<!-- label: Cannot nest label itself. .................. -->

<!ENTITY % webforms20.label.element "INCLUDE">
<![%webforms20.label.element;[
<!ENTITY % webforms20.label.content "(#PCDATA|%Inline.mix;)*">
<!ENTITY % webforms20.label.qname "label">
<!ENTITY % webforms20.label.tagmin.start "-">
<!ENTITY % webforms20.label.tagmin.end "-">
<![%sgml.tag.minimizable;[
<!ENTITY % webforms20.label.tagmin "%webforms20.label.tagmin.start; %webforms20.label.tagmin.end;">
<!-- end of sgml.tag.minimizable -->]]>
<!ENTITY % webforms20.label.tagmin "">
<!ELEMENT %webforms20.label.qname; %webforms20.label.tagmin; %webforms20.label.content;>
<!-- end of webforms20.label.element -->]]>

<!ENTITY % webforms20.label.attlist "INCLUDE">
<![%webforms20.label.attlist;[
<!ATTLIST %webforms20.label.qname;
	%webforms20.accesskey.attrib;
	for	IDREF	#IMPLIED
	%webforms20.common.attrib;>
<!-- end of webforms20.label.attlist -->]]>


<!-- end of webforms20-formext.mod -->
