html/dtd/module/webforms20-formevent.mod

<!-- ...................................................................... -->
<!-- Web Forms 2.0 Call For Comments - 27 June 2004
             Extended Form Events Module .................................. -->
<!-- file: webforms20-formevent.mod
     
     Web Forms 2.0, the next generation HTML form model.
     
     Copyright 2005 Wakaba <w@suika.fam.cx>, All Rights Reserved.
     
     Permission to use, copy, modify and distribute this DTD and its
     accompanying documentation for any purpose and without fee is hereby
     granted in perpetuity, provided that the above copyright notice and
     this paragraph appear in all copies.  The copyright holders make no
     representation about the suitability of the DTD for any purpose.
     
     It is provided "as is" without expressed or implied warranty.
     
     Revision: 2005-04-05T01:46:48+00:00 (Generated by mkdtds/1.06)
     
     This DTD module is identified by the SYSTEM identifier:
     
       SYSTEM "webforms20-formevent.mod"
     
     ...................................................................... -->

<!-- Extended Form Events


-->

<!ENTITY % webforms20.oninput.attrib
	"oninput	%Script.datatype;	#IMPLIED">

<!ENTITY % webforms20.onformchange.attrib
	"onformchange	%Script.datatype;	#IMPLIED">

<!ENTITY % webforms20.onforminput.attrib
	"onforminput	%Script.datatype;	#IMPLIED">

<!ENTITY % webforms20.oninvalid.attrib
	"oninvalid	%Script.datatype;	#IMPLIED">

<!ENTITY % webforms20.input.attlist "INCLUDE">
<![%webforms20.input.attlist;[
<!ATTLIST %webforms20.input.qname;
	%webforms20.oninput.attrib;
	%webforms20.oninvalid.attrib;>
<!-- end of webforms20.input.attlist -->]]>

<!ENTITY % webforms20.select.attlist "INCLUDE">
<![%webforms20.select.attlist;[
<!ATTLIST %webforms20.select.qname;
	%webforms20.oninput.attrib;
	%webforms20.oninvalid.attrib;>
<!-- end of webforms20.select.attlist -->]]>

<!ENTITY % webforms20.textarea.attlist "INCLUDE">
<![%webforms20.textarea.attlist;[
<!ATTLIST %webforms20.textarea.qname;
	%webforms20.oninput.attrib;
	%webforms20.oninvalid.attrib;>
<!-- end of webforms20.textarea.attlist -->]]>

<!-- The onformchange and onforminput attributes are added
     to all form control elements -->
<!ENTITY % webforms20.control.events.attrib
	"%webforms20.onformchange.attrib;
	%webforms20.onforminput.attrib;">

<!ENTITY % webforms20.button.attlist "INCLUDE">
<![%webforms20.button.attlist;[
<!ATTLIST %webforms20.button.qname;
	%webforms20.oninvalid.attrib;>
<!-- end of webforms20.button.attlist -->]]>

<!ENTITY % webforms20.output.attlist "INCLUDE">
<![%webforms20.output.attlist;[
<!ATTLIST %webforms20.output.qname;
	onchange	%Script.datatype;	#IMPLIED>
<!-- end of webforms20.output.attlist -->]]>


<!-- end of webforms20-formevent.mod -->
