prezarc/dtd/module/prezarc-head.mod

<!-- ...................................................................... -->
<!-- PrezArk Vocabulary Header Module ..................................... -->
<!-- file: prezarc-head.mod
     
     PrezArk markup vocabulary, as described in <http://www.justsystem.co.jp/ark/genba/06.html>.
     
     Copyright 2010 Wakaba <w@suika.fam.cx>, All Rights Reserved.
     
     Permission to use, copy, modify and distribute this DTD and its
     accompanying documentation for any purpose and without fee is hereby
     granted in perpetuity, provided that the above copyright notice and
     this paragraph appear in all copies.  The copyright holders make no
     representation about the suitability of the DTD for any purpose.
     
     It is provided "as is" without expressed or implied warranty.
     
     Revision: 2010-06-20T04:53:58+00:00 (Generated by mkdtds/1.7)
     
     This DTD module is identified by the SYSTEM identifier:
     
       SYSTEM "data:,prezarc/prezarc-head.mod"
     
     ...................................................................... -->

<!-- Header

       item, permit, smaster, tmaster
-->

<!ENTITY % prezarc.html.version.attlist "INCLUDE">
<![%prezarc.html.version.attlist;[
<!ATTLIST %html.qname;
	%prezarc.version.attrib.qname;	CDATA	#REQUIRED>
<!-- end of prezarc.html.version.attlist -->]]>

<!-- permit: Personalized view properties. ............. -->

<!ENTITY % prezarc.permit.element "INCLUDE">
<![%prezarc.permit.element;[
<!ENTITY % prezarc.permit.content "(%prezarc.item.qname;+)">
<!ENTITY % prezarc.permit.qname "permit">
<!ENTITY % prezarc.permit.tagmin.start "-">
<!ENTITY % prezarc.permit.tagmin.end "-">
<![%sgml.tag.minimizable;[
<!ENTITY % prezarc.permit.tagmin "%prezarc.permit.tagmin.start; %prezarc.permit.tagmin.end;">
<!-- end of sgml.tag.minimizable -->]]>
<!ENTITY % prezarc.permit.tagmin "">
<!ELEMENT %prezarc.permit.qname; %prezarc.permit.tagmin; %prezarc.permit.content;>
<!-- end of prezarc.permit.element -->]]>

<!ENTITY % prezarc.permit.attlist "INCLUDE">
<![%prezarc.permit.attlist;[
<!ATTLIST %prezarc.permit.qname;
	%prezarc.common.attrib;>
<!-- end of prezarc.permit.attlist -->]]>

<!-- item: Personalized view item information .......... -->

<!ENTITY % prezarc.item.element "INCLUDE">
<![%prezarc.item.element;[
<!ENTITY % prezarc.item.content "EMPTY">
<!ENTITY % prezarc.item.qname "item">
<!ENTITY % prezarc.item.tagmin.start "-">
<!ENTITY % prezarc.item.tagmin.end "o">
<![%sgml.tag.minimizable;[
<!ENTITY % prezarc.item.tagmin "%prezarc.item.tagmin.start; %prezarc.item.tagmin.end;">
<!-- end of sgml.tag.minimizable -->]]>
<!ENTITY % prezarc.item.tagmin "">
<!ELEMENT %prezarc.item.qname; %prezarc.item.tagmin; %prezarc.item.content;>
<!-- end of prezarc.item.element -->]]>

<!ENTITY % prezarc.item.attlist "INCLUDE">
<![%prezarc.item.attlist;[
<!ATTLIST %prezarc.item.qname;
	title	CDATA	#REQUIRED
	selected	(selected)	#IMPLIED
	%prezarc.common.attrib;>
<!-- end of prezarc.item.attlist -->]]>

<!-- tmaster: Title page frame.  Content model unknown.  -->

<!ENTITY % prezarc.tmaster.element "INCLUDE">
<![%prezarc.tmaster.element;[
<!ENTITY % prezarc.tmaster.content "ANY">
<!ENTITY % prezarc.tmaster.qname "tmaster">
<!ENTITY % prezarc.tmaster.tagmin.start "-">
<!ENTITY % prezarc.tmaster.tagmin.end "-">
<![%sgml.tag.minimizable;[
<!ENTITY % prezarc.tmaster.tagmin "%prezarc.tmaster.tagmin.start; %prezarc.tmaster.tagmin.end;">
<!-- end of sgml.tag.minimizable -->]]>
<!ENTITY % prezarc.tmaster.tagmin "">
<!ELEMENT %prezarc.tmaster.qname; %prezarc.tmaster.tagmin; %prezarc.tmaster.content;>
<!-- end of prezarc.tmaster.element -->]]>

<!ENTITY % prezarc.tmaster.attlist "INCLUDE">
<![%prezarc.tmaster.attlist;[
<!ATTLIST %prezarc.tmaster.qname;
	%prezarc.common.attrib;>
<!-- end of prezarc.tmaster.attlist -->]]>

<!-- smaster: Slide page frame.  Content model unknown.  -->

<!ENTITY % prezarc.smaster.element "INCLUDE">
<![%prezarc.smaster.element;[
<!ENTITY % prezarc.smaster.content "ANY">
<!ENTITY % prezarc.smaster.qname "smaster">
<!ENTITY % prezarc.smaster.tagmin.start "-">
<!ENTITY % prezarc.smaster.tagmin.end "-">
<![%sgml.tag.minimizable;[
<!ENTITY % prezarc.smaster.tagmin "%prezarc.smaster.tagmin.start; %prezarc.smaster.tagmin.end;">
<!-- end of sgml.tag.minimizable -->]]>
<!ENTITY % prezarc.smaster.tagmin "">
<!ELEMENT %prezarc.smaster.qname; %prezarc.smaster.tagmin; %prezarc.smaster.content;>
<!-- end of prezarc.smaster.element -->]]>

<!ENTITY % prezarc.smaster.attlist "INCLUDE">
<![%prezarc.smaster.attlist;[
<!ATTLIST %prezarc.smaster.qname;
	%prezarc.common.attrib;>
<!-- end of prezarc.smaster.attlist -->]]>


<!-- end of prezarc-head.mod -->
