prezarc/dtd/module/prezarc-style.mod

<!-- ...................................................................... -->
<!-- PrezArk Vocabulary Style Module ...................................... -->
<!-- file: prezarc-style.mod
     
     PrezArk markup vocabulary, as described in <http://www.justsystem.co.jp/ark/genba/06.html>.
     
     Copyright 2010 Wakaba <w@suika.fam.cx>, All Rights Reserved.
     
     Permission to use, copy, modify and distribute this DTD and its
     accompanying documentation for any purpose and without fee is hereby
     granted in perpetuity, provided that the above copyright notice and
     this paragraph appear in all copies.  The copyright holders make no
     representation about the suitability of the DTD for any purpose.
     
     It is provided "as is" without expressed or implied warranty.
     
     Revision: 2010-06-20T04:53:58+00:00 (Generated by mkdtds/1.7)
     
     This DTD module is identified by the SYSTEM identifier:
     
       SYSTEM "data:,prezarc/prezarc-style.mod"
     
     ...................................................................... -->

<!-- Style


-->

<!ENTITY % prezarc.div.type.attlist "INCLUDE">
<![%prezarc.div.type.attlist;[
<!ATTLIST %div.qname;
	%prezarc.type.attrib.qname;	(page|note|area.title|area.subtitle|area.list|area.image|
area.clipart|area.object|area.misc)	#IMPLIED>
<!-- end of prezarc.div.type.attlist -->]]>

<!ENTITY % prezarc.permit.attrib
	"%prezarc.permit.attrib.qname;	%prezarc.bitvector.datatype;	#IMPLIED">

<!-- Applied to pages or frames. -->
<!ENTITY % prezarc.div.permit.attlist "INCLUDE">
<![%prezarc.div.permit.attlist;[
<!ATTLIST %div.qname;
	%prezarc.permit.attrib;>
<!-- end of prezarc.div.permit.attlist -->]]>

<!ENTITY % prezarc.h1.permit.attlist "INCLUDE">
<![%prezarc.h1.permit.attlist;[
<!ATTLIST %h1.qname;
	%prezarc.permit.attrib;>
<!-- end of prezarc.h1.permit.attlist -->]]>

<!ENTITY % prezarc.li.permit.attlist "INCLUDE">
<![%prezarc.li.permit.attlist;[
<!ATTLIST %li.qname;
	%prezarc.permit.attrib;>
<!-- end of prezarc.li.permit.attlist -->]]>

<!ENTITY % prezarc.img.permit.attlist "INCLUDE">
<![%prezarc.img.permit.attlist;[
<!ATTLIST %img.qname;
	%prezarc.permit.attrib;>
<!-- end of prezarc.img.permit.attlist -->]]>

<!-- Applied to pages. -->
<!ENTITY % prezarc.div.effect.attlist "INCLUDE">
<![%prezarc.div.effect.attlist;[
<!ATTLIST %div.qname;
	%prezarc.effect.attrib.qname;	%prezarc.effect.datatype;	#IMPLIED>
<!-- end of prezarc.div.effect.attlist -->]]>

<!-- Expanding page in outline. -->
<!ENTITY % prezarc.div.expand.attlist "INCLUDE">
<![%prezarc.div.expand.attlist;[
<!ATTLIST %div.qname;
	%prezarc.expand.attrib.qname;	(expand|collapse)	#IMPLIED>
<!-- end of prezarc.div.expand.attlist -->]]>

<!-- Slide layout. -->
<!ENTITY % prezarc.div.layout.attlist "INCLUDE">
<![%prezarc.div.layout.attlist;[
<!ATTLIST %div.qname;
	%prezarc.layout.attrib.qname;	(title|list|list2|clipart|clipart_list|list_clipart|blank)	#IMPLIED>
<!-- end of prezarc.div.layout.attlist -->]]>

<!-- Applied to cliparts. -->
<!ENTITY % prezarc.img.clipart.attlist "INCLUDE">
<![%prezarc.img.clipart.attlist;[
<!ATTLIST %img.qname;
	%prezarc.category.attrib.qname;	CDATA	#IMPLIED
	%prezarc.keyword.attrib.qname;	CDATA	#IMPLIED
	%prezarc.data.attrib.qname;	%prezarc.URI.datatype;	#IMPLIED>
<!-- end of prezarc.img.clipart.attlist -->]]>

<!-- Rehearsal (expected) time. -->
<!ENTITY % prezarc.div.rehearsal.attlist "INCLUDE">
<![%prezarc.div.rehearsal.attlist;[
<!ATTLIST %div.qname;
	%prezarc.rehearsal.attrib.qname;	%prezarc.MMSS.datatype;	#IMPLIED>
<!-- end of prezarc.div.rehearsal.attlist -->]]>

<!-- Frame decoration. -->
<!ENTITY % prezarc.div.frame-decoration.attlist "INCLUDE">
<![%prezarc.div.frame-decoration.attlist;[
<!ATTLIST %div.qname;
	%prezarc.frame-decoration.attrib.qname;	%prezarc.props.datatype;	#IMPLIED>
<!-- end of prezarc.div.frame-decoration.attlist -->]]>

<!-- Content type. -->
<!ENTITY % prezarc.div.content.attlist "INCLUDE">
<![%prezarc.div.content.attlist;[
<!ATTLIST %div.qname;
	%prezarc.content.attrib.qname;	(table_of_contents)	#IMPLIED>
<!-- end of prezarc.div.content.attlist -->]]>


<!-- end of prezarc-style.mod -->
