voice/schema/module/ssml1-misc.mod

<!-- ...................................................................... -->
<!-- SSML 1 Other Module .................................................. -->
<!-- file: ssml1-misc.mod
     
     This is Speech Synthesis Markup Language (SSML), Version 1.
     
     Copyright 2004 Wakaba <w@suika.fam.cx>, All Rights Reserved.
     
     Permission to use, copy, modify and distribute this DTD and its
     accompanying documentation for any purpose and without fee is hereby
     granted in perpetuity, provided that the above copyright notice and
     this paragraph appear in all copies.  The copyright holders make no
     representation about the suitability of the DTD for any purpose.
     
     It is provided "as is" without expressed or implied warranty.
     
     Revision: 2004-09-16T04:03:38+00:00 (Generated by mkdtds/1.06)
     
     This DTD module is identified by the SYSTEM identifier:
     
       SYSTEM "http://suika.fam.cx/www/markup/voice/schema/module/ssml1-misc.mod"
     
     ...................................................................... -->

<!-- Other

       audio, desc, mark
-->

<!-- audio: The insertion of recorded audio files ...... -->

<!ENTITY % ssml1.audio.element "INCLUDE">
<![%ssml1.audio.element;[
<!ENTITY % ssml1.audio.content "(#PCDATA|%ssml1.descAndSentenceAndStructure.class;)*">
<!ENTITY % ssml1.audio.qname "audio">
<!ENTITY % ssml1.audio.tagmin.start "-">
<!ENTITY % ssml1.audio.tagmin.end "-">
<![%sgml.tag.minimizable;[
<!ENTITY % ssml1.audio.tagmin "%ssml1.audio.tagmin.start; %ssml1.audio.tagmin.end;">
<!-- end of sgml.tag.minimizable -->]]>
<!ENTITY % ssml1.audio.tagmin "">
<!ELEMENT %ssml1.audio.qname; %ssml1.audio.tagmin; %ssml1.audio.content;>
<!-- end of ssml1.audio.element -->]]>

<!ENTITY % ssml1.audio.attlist "INCLUDE">
<![%ssml1.audio.attlist;[
<!ATTLIST %ssml1.audio.qname;
	%ssml1.common.attrib;>
<!-- end of ssml1.audio.attlist -->]]>

<!-- mark: Places a marker ............................. -->

<!ENTITY % ssml1.mark.element "INCLUDE">
<![%ssml1.mark.element;[
<!ENTITY % ssml1.mark.content "EMPTY">
<!ENTITY % ssml1.mark.qname "mark">
<!ENTITY % ssml1.mark.tagmin.start "-">
<!ENTITY % ssml1.mark.tagmin.end "o">
<![%sgml.tag.minimizable;[
<!ENTITY % ssml1.mark.tagmin "%ssml1.mark.tagmin.start; %ssml1.mark.tagmin.end;">
<!-- end of sgml.tag.minimizable -->]]>
<!ENTITY % ssml1.mark.tagmin "">
<!ELEMENT %ssml1.mark.qname; %ssml1.mark.tagmin; %ssml1.mark.content;>
<!-- end of ssml1.mark.element -->]]>

<!ENTITY % ssml1.mark.attlist "INCLUDE">
<![%ssml1.mark.attlist;[
<!ATTLIST %ssml1.mark.qname;
	%ssml1.common.attrib;>
<!-- end of ssml1.mark.attlist -->]]>

<!-- desc: Alternative for the "audio" ................. -->

<!ENTITY % ssml1.desc.element "INCLUDE">
<![%ssml1.desc.element;[
<!ENTITY % ssml1.desc.content "(#PCDATA)*">
<!ENTITY % ssml1.desc.qname "desc">
<!ENTITY % ssml1.desc.tagmin.start "-">
<!ENTITY % ssml1.desc.tagmin.end "-">
<![%sgml.tag.minimizable;[
<!ENTITY % ssml1.desc.tagmin "%ssml1.desc.tagmin.start; %ssml1.desc.tagmin.end;">
<!-- end of sgml.tag.minimizable -->]]>
<!ENTITY % ssml1.desc.tagmin "">
<!ELEMENT %ssml1.desc.qname; %ssml1.desc.tagmin; %ssml1.desc.content;>
<!-- end of ssml1.desc.element -->]]>

<!ENTITY % ssml1.desc.attlist "INCLUDE">
<![%ssml1.desc.attlist;[
<!ATTLIST %ssml1.desc.qname;
	%ssml1.common.attrib;>
<!-- end of ssml1.desc.attlist -->]]>


<!-- end of ssml1-misc.mod -->
