voice/schema/module/ssml1-style.mod

<!-- ...................................................................... -->
<!-- SSML 1 Prosody and Style Module ...................................... -->
<!-- file: ssml1-style.mod
     
     This is Speech Synthesis Markup Language (SSML), Version 1.
     
     Copyright 2004 Wakaba <w@suika.fam.cx>, All Rights Reserved.
     
     Permission to use, copy, modify and distribute this DTD and its
     accompanying documentation for any purpose and without fee is hereby
     granted in perpetuity, provided that the above copyright notice and
     this paragraph appear in all copies.  The copyright holders make no
     representation about the suitability of the DTD for any purpose.
     
     It is provided "as is" without expressed or implied warranty.
     
     Revision: 2004-09-16T04:03:38+00:00 (Generated by mkdtds/1.06)
     
     This DTD module is identified by the SYSTEM identifier:
     
       SYSTEM "http://suika.fam.cx/www/markup/voice/schema/module/ssml1-style.mod"
     
     ...................................................................... -->

<!-- Prosody and Style

       break, emphasis, prosody, voice
-->

<!-- voice: Request a change in speaking voice. ........ -->

<!ENTITY % ssml1.voice.element "INCLUDE">
<![%ssml1.voice.element;[
<!ENTITY % ssml1.voice.content "(#PCDATA|%ssml1.sentenceAndStructure.class;)*">
<!ENTITY % ssml1.voice.qname "voice">
<!ENTITY % ssml1.voice.tagmin.start "-">
<!ENTITY % ssml1.voice.tagmin.end "-">
<![%sgml.tag.minimizable;[
<!ENTITY % ssml1.voice.tagmin "%ssml1.voice.tagmin.start; %ssml1.voice.tagmin.end;">
<!-- end of sgml.tag.minimizable -->]]>
<!ENTITY % ssml1.voice.tagmin "">
<!ELEMENT %ssml1.voice.qname; %ssml1.voice.tagmin; %ssml1.voice.content;>
<!-- end of ssml1.voice.element -->]]>

<!ENTITY % ssml1.voice.attlist "INCLUDE">
<![%ssml1.voice.attlist;[
<!ATTLIST %ssml1.voice.qname;
	%ssml1.common.attrib;>
<!-- end of ssml1.voice.attlist -->]]>

<!-- emphasis: Emphasis (or Prominence or Stress) ...... -->

<!ENTITY % ssml1.emphasis.element "INCLUDE">
<![%ssml1.emphasis.element;[
<!ENTITY % ssml1.emphasis.content "(#PCDATA|%ssml1.sentence.class;)*">
<!ENTITY % ssml1.emphasis.qname "emphasis">
<!ENTITY % ssml1.emphasis.tagmin.start "-">
<!ENTITY % ssml1.emphasis.tagmin.end "-">
<![%sgml.tag.minimizable;[
<!ENTITY % ssml1.emphasis.tagmin "%ssml1.emphasis.tagmin.start; %ssml1.emphasis.tagmin.end;">
<!-- end of sgml.tag.minimizable -->]]>
<!ENTITY % ssml1.emphasis.tagmin "">
<!ELEMENT %ssml1.emphasis.qname; %ssml1.emphasis.tagmin; %ssml1.emphasis.content;>
<!-- end of ssml1.emphasis.element -->]]>

<!ENTITY % ssml1.emphasis.attlist "INCLUDE">
<![%ssml1.emphasis.attlist;[
<!ATTLIST %ssml1.emphasis.qname;
	%ssml1.common.attrib;>
<!-- end of ssml1.emphasis.attlist -->]]>

<!-- break: Control the pausing or other prosodic boundaries between words.  -->

<!ENTITY % ssml1.break.element "INCLUDE">
<![%ssml1.break.element;[
<!ENTITY % ssml1.break.content "EMPTY">
<!ENTITY % ssml1.break.qname "break">
<!ENTITY % ssml1.break.tagmin.start "-">
<!ENTITY % ssml1.break.tagmin.end "o">
<![%sgml.tag.minimizable;[
<!ENTITY % ssml1.break.tagmin "%ssml1.break.tagmin.start; %ssml1.break.tagmin.end;">
<!-- end of sgml.tag.minimizable -->]]>
<!ENTITY % ssml1.break.tagmin "">
<!ELEMENT %ssml1.break.qname; %ssml1.break.tagmin; %ssml1.break.content;>
<!-- end of ssml1.break.element -->]]>

<!ENTITY % ssml1.break.attlist "INCLUDE">
<![%ssml1.break.attlist;[
<!ATTLIST %ssml1.break.qname;
	%ssml1.common.attrib;>
<!-- end of ssml1.break.attlist -->]]>

<!-- prosody: Control of the pitch, speaking rate and volume  -->

<!ENTITY % ssml1.prosody.element "INCLUDE">
<![%ssml1.prosody.element;[
<!ENTITY % ssml1.prosody.content "(#PCDATA|%ssml1.sentenceAndStructure.class;)*">
<!ENTITY % ssml1.prosody.qname "prosody">
<!ENTITY % ssml1.prosody.tagmin.start "-">
<!ENTITY % ssml1.prosody.tagmin.end "-">
<![%sgml.tag.minimizable;[
<!ENTITY % ssml1.prosody.tagmin "%ssml1.prosody.tagmin.start; %ssml1.prosody.tagmin.end;">
<!-- end of sgml.tag.minimizable -->]]>
<!ENTITY % ssml1.prosody.tagmin "">
<!ELEMENT %ssml1.prosody.qname; %ssml1.prosody.tagmin; %ssml1.prosody.content;>
<!-- end of ssml1.prosody.element -->]]>

<!ENTITY % ssml1.prosody.attlist "INCLUDE">
<![%ssml1.prosody.attlist;[
<!ATTLIST %ssml1.prosody.qname;
	%ssml1.common.attrib;>
<!-- end of ssml1.prosody.attlist -->]]>


<!-- end of ssml1-style.mod -->
